Repository zod-flow-demo/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: add meta submodule
  .gitmodules
Due: none

chore: setup mock handlers and auto gen api client
  .env
  .gitignore
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/api/template.hbs
  src/main.ts
  src/mocks/handlers.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

chore: uninstall stylelint-config-prettier
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

feat: todo app
  src/App.svelte
  src/app.css
Due: stylelint --fix

ci: add update submodule workflow
  .github/workflows/update-submodule.yaml
Due: none

chore: update api url
  .env
Due: none

chore: set base url
  vite.config.ts
Due: none

ci: deploy to gitihub pages
  .github/workflows/deploy.yaml
Due: none

fix: broken submodule update
  .github/workflows/update-submodule.yaml
Due: none

ci: add CI_TOKEN
  .github/workflows/update-submodule.yaml
Due: none

chore: update ui
  src/App.svelte
  src/app.css
Due: stylelint --fix

chore: upload vscode settings
  .gitignore
  .vscode/settings.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js,json,md}
  prettier --write: any of: src/**/*.{ts,js,json,md}
  stylelint --fix: any of: src/**/*.{css,scss}
